## Importando Librerias

In [27]:

import numpy as pd
import pandas as pd

## Cargando dataset

In [28]:

dataset = pd.read_csv("dataset1.csv")

#Analisis Exploratorio

dataset

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

## Explorando dataset

### Branch - Rama

In [29]:
branch_data = dataset.groupby('Branch').size()
branch_data

Branch
A    340
B    332
C    328
dtype: int64

### City - Ciudad

In [30]:
city_data = dataset.groupby('City').size()
city_data

City
Mandalay     332
Naypyitaw    328
Yangon       340
dtype: int64

### Customer Type - Tipo cliente

In [31]:
customer_data = dataset.groupby('Customer type').size()
customer_data

Customer type
Member    501
Normal    499
dtype: int64

### Product Line - Linea producto

In [32]:
productline_data = dataset.groupby('Product line').size()
productline_data

Product line
Electronic accessories    170
Fashion accessories       178
Food and beverages        174
Health and beauty         152
Home and lifestyle        160
Sports and travel         166
dtype: int64

### Payment - Tipo Pago

In [33]:
payment_data = dataset.groupby('Payment').size()
payment_data

Payment
Cash           344
Credit card    311
Ewallet        345
dtype: int64

### Gender - Genero

In [34]:
gender_data = dataset.groupby('Gender').size()
gender_data

Gender
Female    501
Male      499
dtype: int64

# Exploracion adicional de datos

In [35]:
dataset

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

In [36]:
#El total esta bien sumado
for i in range(0, 1000, 1):
    #print("Precio unitario: ", dataset['Unit price'][i], " Cantidad : ",dataset['Quantity'][i], " + 5% Tax :", dataset['Tax 5%'][i], " Total = ", dataset['Total'][i])
    total_sum = ((float(dataset['Unit price'][i])*float(dataset['Quantity'][i])) + float(dataset['Tax 5%'][i]))
    #print("Total sumado = ", total_sum)
    #print("Iteracion :",i," Total_sum = Total ? ",int(total_sum) == int(dataset['Total'][i]) )
    if((int(total_sum) != int(dataset['Total'][i])) ):
        print("Existe un valor que no es igual")

### Explorando precio unitario

In [37]:
unitprice_data = dataset.groupby('Unit price').size()
unitprice_data # No es muy relevante

Unit price
10.08    1
10.13    1
10.16    1
10.17    1
10.18    1
        ..
99.82    2
99.83    1
99.89    1
99.92    1
99.96    2
Length: 943, dtype: int64

### Explorando COGS - o Calculo Costo de Bienes Vendidos

In [38]:
cogs_data = dataset.groupby('cogs').size() # Encontramos muchos valores cambiantes, no relevante.
cogs_data

cogs
10.17     1
12.09     1
12.54     1
12.78     1
13.98     1
         ..
973.80    1
975.00    1
985.20    1
989.80    1
993.00    1
Length: 990, dtype: int64

## Explorando Fecha --> Postressql orden AAAA-MM-DD

In [39]:
date_splited = dataset['Date'][0].split('/')
new_order = date_splited[1]+"-"+date_splited[0]+"-"+date_splited[2]
print(new_order)

5-1-2019

## Definiendo funciones de transformacion

In [40]:
# Funcion para cambiar los valores de gender
def change_gender(val):
    if (val == 'Male'):
        return 'Masculino'
    else:
        return 'Femenino'

# Funcion para cambiar los valores de customer_type
def change_customer(val):
    if(val == 'Member'):
        return 'Miembro'
    else:
        return 'Normal'
    
# Funcion para cambiar los valores de Product Line
def change_product(val):
    if(val == 'Electronic accessories'): # Accesorios electronicos
        return 'Accesorios Electronicos'
    elif(val == 'Fashion accessories'): # Accesorios de moda
        return 'Accesorios Moda'
    elif(val == 'Food and beverages'): #Comida y bebidas
        return 'Alimentos y Bebidas'
    elif(val == 'Health and beauty'): # Salud y belleza
        return 'Salud y Belleza'
    elif(val == 'Home and lifestyle'): # Casa y estilo de vida
        return 'Hogar y Estilo De Vida'
    elif(val == 'Sports and travel'): # Deportes y viajes
        return 'Deportes y Viajes'
    else:
        return 'Valor Erroneo'

# Funcion para cambiar los valores de Payment
def change_payment(val):
    if(val == 'Cash'):
        return 'Efectivo'
    elif(val == 'Credit card'):
        return 'Tarjeta de Credito'
    elif(val == 'Ewallet'):
        return 'Billetera electronica'
    
#Funcion que cambia el formato de la fecha para la columna DATE
def change_dateform(val):
    date_splited = val.split('/')
    new_order = date_splited[1]+"-"+date_splited[0]+"-"+date_splited[2]
    return new_order

# Dataset antes funciones de aplicacion

In [41]:
dataset

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,40.35,1,2.0175,42.3675,1/29/2019,13:46,Ewallet,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,97.38,10,48.6900,1022.4900,3/2/2019,17:16,Ewallet,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Member,Male,Food and beverages,31.84,1,1.5920,33.4320,2/9/2019,13:22,Cash,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,65.82,1,3.2910,69.1110,2/22/2019,15:33,Cash,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Member,Female,Fashion accessories,88.34,7,30.9190,649.2990,2/18/2019,13:28,Cash,618.38,4.761905,30.9190,6.6

## Aplicando Funciones de transformacion y compiando columnas.

In [42]:
# Gender
dataset['Gender'] = dataset['Gender'].transform(change_gender)

# customer type
dataset['Customer type'] = dataset['Customer type'].transform(change_customer)

# Product line
dataset['Product line'] = dataset['Product line'].transform(change_product)

# Payment
dataset['Payment'] = dataset['Payment'].transform(change_payment)

#Date
dataset['Date'] = dataset['Date'].transform(change_dateform)

dataset

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Miembro,Femenino,Salud y Belleza,74.69,7,26.1415,548.9715,5-1-2019,13:08,Billetera electronica,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Femenino,Accesorios Electronicos,15.28,5,3.8200,80.2200,8-3-2019,10:29,Efectivo,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Masculino,Hogar y Estilo De Vida,46.33,7,16.2155,340.5255,3-3-2019,13:23,Tarjeta de Credito,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Miembro,Masculino,Salud y Belleza,58.22,8,23.2880,489.0480,27-1-2019,20:33,Billetera electronica,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Masculino,Deportes y Viajes,86.31,7,30.2085,634.3785,8-2-2019,10:37,Billetera electronica,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Masculino,Salud y Belleza,40.35,1,2.0175,42.3675,29-1-2019,13:46,Billetera electronica,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Femenino,Hogar y Estilo De Vida,97.38,10,48.6900,1022.4900,2-3-2019,17:16,Billetera electronica,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Miembro,Masculino,Alimentos y Bebidas,31.84,1,1.5920,33.4320,9-2-2019,13:22,Efectivo,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Masculino,Hogar y Estilo De Vida,65.82,1,3.2910,69.1110,22-2-2019,15:33,Efectivo,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Miembro,Femenino,Accesorios Moda,88.34,7,30.9190,649.2990,18-2-2019,13:28,Efectivo,618.38,4.761905,30.9190,6.6

## Revisamos que todos los cambios se haya hecho y no hayan errores

In [43]:
customer_data = dataset.groupby('Customer type').size()
customer_data

Customer type
Miembro    501
Normal     499
dtype: int64

In [44]:
productline_data = dataset.groupby('Product line').size()
productline_data

Product line
Accesorios Electronicos    170
Accesorios Moda            178
Alimentos y Bebidas        174
Deportes y Viajes          166
Hogar y Estilo De Vida     160
Salud y Belleza            152
dtype: int64

In [45]:
gender_data = dataset.groupby('Gender').size()
gender_data

Gender
Femenino     501
Masculino    499
dtype: int64

In [46]:
payment_data = dataset.groupby('Payment').size()
payment_data

Payment
Billetera electronica    345
Efectivo                 344
Tarjeta de Credito       311
dtype: int64

## Todo correcto procedemos a hacer la extraccion de datos

### Extrayendo columnas

In [47]:
#Nombre de las cabeceras del data set
columnas2 = dataset[
    ['Invoice ID',
     'Branch',
     'City',
     'Customer type',
     'Gender',
     'Product line',
     'Unit price',
     'Quantity',
     'Tax 5%',
     'Total',
     'Date',
     'Time',
     'Payment',
     'cogs',
     'gross margin percentage',
     'gross income',
     'Rating']].columns.values

columnas_eng = []
j = 0
for i in columnas2:
    j = j +1
    print(j," --> ",i)
    columnas_eng.append(i)

1  -->  Invoice ID
2  -->  Branch
3  -->  City
4  -->  Customer type
5  -->  Gender
6  -->  Product line
7  -->  Unit price
8  -->  Quantity
9  -->  Tax 5%
10  -->  Total
11  -->  Date
12  -->  Time
13  -->  Payment
14  -->  cogs
15  -->  gross margin percentage
16  -->  gross income
17  -->  Rating

In [48]:

columnas_esp = [
    'ID Factura',
    'Rama',
    'Ciudad',
    'Tipo Cliente',
    'Genero',
    'Linea Producto',
    'Precio Unitario',
    'Cantidad',
    'Impuesto 5%',
    'Total',
    'Fecha',
    'Hora',
    'Tipo Pago',
    'COBV',
    'Porcentaje Margen Bruto',
    'Porcentaje Ingreso',
    'Calificacion'
]

j = 0
for i in columnas_esp:
    j = j +1
    print(j," --> ",i)

1  -->  ID Factura
2  -->  Rama
3  -->  Ciudad
4  -->  Tipo Cliente
5  -->  Genero
6  -->  Linea Producto
7  -->  Precio Unitario
8  -->  Cantidad
9  -->  Impuesto 5%
10  -->  Total
11  -->  Fecha
12  -->  Hora
13  -->  Tipo Pago
14  -->  COBV
15  -->  Porcentaje Margen Bruto
16  -->  Porcentaje Ingreso
17  -->  Calificacion

In [49]:

esp_dataset = pd.DataFrame(columns = columnas_esp)
for i in range(0, len(columnas2), 1):
    print(i)
    print(columnas2[i])
    print(columnas_esp[i])

0
Invoice ID
ID Factura
1
Branch
Rama
2
City
Ciudad
3
Customer type
Tipo Cliente
4
Gender
Genero
5
Product line
Linea Producto
6
Unit price
Precio Unitario
7
Quantity
Cantidad
8
Tax 5%
Impuesto 5%
9
Total
Total
10
Date
Fecha
11
Time
Hora
12
Payment
Tipo Pago
13
cogs
COBV
14
gross margin percentage
Porcentaje Margen Bruto
15
gross income
Porcentaje Ingreso
16
Rating
Calificacion

In [50]:
for i in range(0, len(columnas2), 1):
    esp_dataset[columnas_esp[i]] = dataset[columnas2[i]].copy()
esp_dataset

,ID Factura,Rama,Ciudad,Tipo Cliente,Genero,Linea Producto,Precio Unitario,Cantidad,Impuesto 5%,Total,Fecha,Hora,Tipo Pago,COBV,Porcentaje Margen Bruto,Porcentaje Ingreso,Calificacion
0,750-67-8428,A,Yangon,Miembro,Femenino,Salud y Belleza,74.69,7,26.1415,548.9715,5-1-2019,13:08,Billetera electronica,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Femenino,Accesorios Electronicos,15.28,5,3.8200,80.2200,8-3-2019,10:29,Efectivo,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Masculino,Hogar y Estilo De Vida,46.33,7,16.2155,340.5255,3-3-2019,13:23,Tarjeta de Credito,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Miembro,Masculino,Salud y Belleza,58.22,8,23.2880,489.0480,27-1-2019,20:33,Billetera electronica,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Masculino,Deportes y Viajes,86.31,7,30.2085,634.3785,8-2-2019,10:37,Billetera electronica,604.17,4.761905,30.2085,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,C,Naypyitaw,Normal,Masculino,Salud y Belleza,40.35,1,2.0175,42.3675,29-1-2019,13:46,Billetera electronica,40.35,4.761905,2.0175,6.2
996,303-96-2227,B,Mandalay,Normal,Femenino,Hogar y Estilo De Vida,97.38,10,48.6900,1022.4900,2-3-2019,17:16,Billetera electronica,973.80,4.761905,48.6900,4.4
997,727-02-1313,A,Yangon,Miembro,Masculino,Alimentos y Bebidas,31.84,1,1.5920,33.4320,9-2-2019,13:22,Efectivo,31.84,4.761905,1.5920,7.7
998,347-56-2442,A,Yangon,Normal,Masculino,Hogar y Estilo De Vida,65.82,1,3.2910,69.1110,22-2-2019,15:33,Efectivo,65.82,4.761905,3.2910,4.1
999,849-09-3807,A,Yangon,Miembro,Femenino,Accesorios Moda,88.34,7,30.9190,649.2990,18-2-2019,13:28,Efectivo,618.38,4.761905,30.9190,6.6

## Ordenamos Columnas

In [51]:
df = esp_dataset[
    [
    'ID Factura',
    'Ciudad',
    'Rama',
    'Tipo Cliente',
    'Genero',
    'Linea Producto',
    'Tipo Pago',
    'Cantidad',
    'Precio Unitario',
    'Impuesto 5%',
    'Total',
    'COBV',
    'Porcentaje Margen Bruto',
    'Porcentaje Ingreso',
    'Fecha',
    'Hora',
    'Calificacion']]

df

,ID Factura,Ciudad,Rama,Tipo Cliente,Genero,Linea Producto,Tipo Pago,Cantidad,Precio Unitario,Impuesto 5%,Total,COBV,Porcentaje Margen Bruto,Porcentaje Ingreso,Fecha,Hora,Calificacion
0,750-67-8428,Yangon,A,Miembro,Femenino,Salud y Belleza,Billetera electronica,7,74.69,26.1415,548.9715,522.83,4.761905,26.1415,5-1-2019,13:08,9.1
1,226-31-3081,Naypyitaw,C,Normal,Femenino,Accesorios Electronicos,Efectivo,5,15.28,3.8200,80.2200,76.40,4.761905,3.8200,8-3-2019,10:29,9.6
2,631-41-3108,Yangon,A,Normal,Masculino,Hogar y Estilo De Vida,Tarjeta de Credito,7,46.33,16.2155,340.5255,324.31,4.761905,16.2155,3-3-2019,13:23,7.4
3,123-19-1176,Yangon,A,Miembro,Masculino,Salud y Belleza,Billetera electronica,8,58.22,23.2880,489.0480,465.76,4.761905,23.2880,27-1-2019,20:33,8.4
4,373-73-7910,Yangon,A,Normal,Masculino,Deportes y Viajes,Billetera electronica,7,86.31,30.2085,634.3785,604.17,4.761905,30.2085,8-2-2019,10:37,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,233-67-5758,Naypyitaw,C,Normal,Masculino,Salud y Belleza,Billetera electronica,1,40.35,2.0175,42.3675,40.35,4.761905,2.0175,29-1-2019,13:46,6.2
996,303-96-2227,Mandalay,B,Normal,Femenino,Hogar y Estilo De Vida,Billetera electronica,10,97.38,48.6900,1022.4900,973.80,4.761905,48.6900,2-3-2019,17:16,4.4
997,727-02-1313,Yangon,A,Miembro,Masculino,Alimentos y Bebidas,Efectivo,1,31.84,1.5920,33.4320,31.84,4.761905,1.5920,9-2-2019,13:22,7.7
998,347-56-2442,Yangon,A,Normal,Masculino,Hogar y Estilo De Vida,Efectivo,1,65.82,3.2910,69.1110,65.82,4.761905,3.2910,22-2-2019,15:33,4.1
999,849-09-3807,Yangon,A,Miembro,Femenino,Accesorios Moda,Efectivo,7,88.34,30.9190,649.2990,618.38,4.761905,30.9190,18-2-2019,13:28,6.6

# Subida a la base de datos

In [52]:

import psycopg2 as pg
from psycopg2 import sql
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT

def create_database(database_name, conn):
    cur = conn.cursor()
    select ="SELECT 1 FROM pg_catalog.pg_database WHERE datname = '" + database_name + "';" #Busca si la base de datos existe
    cur.execute(select)
    exists_database = cur.fetchone()#Si la lista tiene datos existe la base de datos
    if not exists_database: #Si no tiene ningun dato la base de datos no existe y tenemos que crear una
        cur.execute(sql.SQL("CREATE DATABASE {}").format(sql.Identifier(database_name)))
    return exists_database


def create_tables(cur, conn, exists):
    #En el caso de que la base de datos exista eliminamos las tablas
    if exists_database:
        cur.execute("""DROP TABLE IF EXISTS Factura;
                          DROP TABLE IF EXISTS Linea_Producto;
                          DROP TABLE IF EXISTS Ciudad;
                          DROP TABLE IF EXISTS Tipo_Pago;
                          DROP TABLE IF EXISTS Tipo_Cliente;
                          DROP TABLE IF EXISTS Genero;
                          DROP TABLE IF EXISTS Rama;""")
        conn.commit()
    #Creamos las tablas
    cur.execute("""CREATE TABLE Rama(id serial primary key, rama char(1) not null);
                      CREATE TABLE Linea_Producto(id serial primary key, linea_producto text not null);
                      CREATE TABLE Ciudad(id serial primary key, ciudad text not null);
                      CREATE TABLE Tipo_Pago(id serial primary key, tipo_pago text not null);
                      CREATE TABLE Tipo_Cliente(id serial primary key, tipo text not null);
                      CREATE TABLE Genero(id serial primary key, genero text not null);
                      CREATE TABLE Factura(id text primary key,
                                           precio_unitario double precision not null,
                                           cantidad integer not null,
                                           impuesto double precision not null,
                                           total double precision not null,
                                           fecha date not null,
                                           hora time not null,
                                           cobv double precision not null,
                                           porcentaje_margen_bruto double precision not null,
                                           porcentaje_ingreso double precision not null,
                                           calificacion double precision not null,
                                           linea_producto integer not null references Linea_Producto(id),
                                           tipo_pago integer not null references Tipo_Pago(id),
                                           tipo_cliente integer not null references Tipo_Cliente(id),
                                           genero integer not null references Genero(id),
                                           rama integer not null references Rama(id),
                                           ciudad integer not null references Ciudad(id));""")
    conn.commit()
    
conn = pg.connect(host='localhost', user='postgres', password='postgres')   
conn.set_isolation_level(ISOLATION_LEVEL_AUTOCOMMIT)
database_name = "Data_Set_Supermercado"
exists_database = create_database(database_name, conn)
conn = pg.connect(host="localhost", user="postgres", password="postgres", database=database_name)
cur = conn.cursor()
create_tables(cur, conn, exists_database)